html,
body {
    background-image: url('/img/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    min-height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.error-message {
    font-size: 0.875rem;
    color: #dc3545;
    margin-top: 5px;
}

.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 310px;
    padding-bottom: 8px;
}

.input-group-prepend span {
    width: 50px;
    padding: 12px;
    background-color: #0275d8;
    color: black;
    border: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: black;
    width: 100px;
    margin-top: 40px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}